before_install:
 - echo "MAVEN_OPTS='-Xmx2g -XX:+TieredCompilation -XX:TieredStopAtLevel=1'" > ~/.mavenrc

language: java

jdk:
 - oraclejdk8
 
script:
 - mvn clean verify -B -U

after_success:
   - mvn coveralls:report

cache:
  directories:
  - "$HOME/.m2"

notifications:
  # Email notifications are disabled to not annoy anybody.
  # See http://about.travis-ci.org/docs/user/build-configuration/ to learn more
  # about configuring notification recipients and more.
  # webhooks: http://basho-engbot.herokuapp.com/travis?key=a8f477c8cdaabc8118d2a650281ff4a71eff875f
  email:
    - colin.sullivan@apcera.com
